.setting-input-width-80 {
    & .setting-item-info {
        width: 20px;
    }

    & .setting-item-control {
        width: calc(100% - 20px);
    }

    & .setting-item-control .search-input-container {
        width: 100%;
    }
}

.setting-input-width-100 {
    & .setting-item-info {
        width: 0px;
    }

    & .setting-item-control {
        width: 100%
    }

    & .setting-item-control .search-input-container {
        width: 100%;
    }
}